<!--login.ejs Juneau Gawat 301076796 October 20, 2020-->

<%- include('./partials/header.ejs') -%>
<div class="container">

    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <hr class="my-4">

       
<%- include('./partials/footer.ejs') -%>