<!--projects.ejs Juneau Gawat 301076796 October 8, 2020-->

<%- include('./partials/header.ejs') -%>

<div class="container">

    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <p class="lead">Welcome to <%= title %></p>
      <hr class="my-4">
      <!-- clicked the pictures to make it bigger-->
      <h3>BookAndTheBone</h3>
      <p>A platformer game about a dog with a magical book. I was the physics programmer, gameplay programmer, level designer, and animator.</p>
      <a href="https://i.imgur.com/rh3dDIF.png" target="_blank"><img src="https://i.imgur.com/rh3dDIF.png" width="386" height="215" alt="dog game"></a>
      <br>
      <br>
      <h3>(No Name)</h3>
      <p>Practice project with a friend involving infinite procedural map generation. I was the physics programmer and level designer.</p>
      <a href="https://i.imgur.com/WOAOi1B.png" target="_blank"><img src="https://i.imgur.com/WOAOi1B.png" alt="infinite procedural map generation" width="425" height="222"></a>
      <br>
      <br>
      <h3>Game Music</h3>
      <p>I make music for games.</p>
      <a href="https://i.imgur.com/WOAOi1B.png" target="_blank"><img src="https://i.imgur.com/W4EadOu.png" alt="music" width="304" height="125"></a>
  </div>
</div>

<%- include('./partials/footer.ejs') -%>